<div>

    <div>
        <el-select v-model="state.importMode">
            <el-option key="new" label="Create new project" value="new"></el-option>
            <el-option key="project" label="Upload to existing project" value="project"></el-option>
            <el-option key="dataset" label="Upload to existing dataset" value="dataset"></el-option>
        </el-select>
    </div>

    <div v-if="state.importMode === 'new'">
        <sly-field title="Result Project Name"
            description="Enter project name manually (optional) or keep empty to generate it automatically">
        </sly-field>
        <el-input placeholder="Enter Project Name" v-model="state.projectName"></el-input>
    </div>

    <div v-if="state.importMode === 'project'">
        <sly-select-project :workspace-id="context.workspaceId" :project-id.sync="state.slyProjectId"
            :options="{availableTypes: ['videos']}"></sly-select-project>
    </div>

    <div v-if="state.importMode === 'dataset'">
        <sly-select-project :workspace-id="context.workspaceId" :project-id.sync="state.slyProjectId"
            :options="{availableTypes: ['videos']}"></sly-select-project>
        <sly-select-dataset :project-id="state.slyProjectId" :datasets.sync="state.datasets"></sly-select-dataset>
    </div>

    <div class="fflex align-start" v-if="!state.prefNodeId">
        <el-checkbox v-model="state.removeSource" class="mt10 mr10"></el-checkbox>
        <sly-field class="mt20" title="Remove temporary files after successful import"
            description="Removes source directory from Team Files after successful import">
        </sly-field>
    </div>

    <pre>
        {{ JSON.stringify(state, undefined, 2) }}
    </pre>

</div>