<div>
  <div v-if="!context.slyFolder && !context.slyFile">
    <el-tabs v-model="state.isDragMode">
      <el-tab-pane label="Drag & drop" @tab-click="state.isDragMode = true">
        <sly-file-storage-upload
          :options="{ folder: '/import/import-videos/' + context.formId + '/' }"
        >
        </sly-file-storage-upload>
      </el-tab-pane>
      <el-tab-pane label="Team files" @tab-click="state.isDragMode = false">
        <sly-select-team-files
          :team-id="context.teamId"
          :options="{maxHeight: '250px'}"
          @items-selected="state.selected = $event"
        >
        </sly-select-team-files>
      </el-tab-pane>
    </el-tabs>
  </div>

  <div v-if="!state.slyProjectId">
    <sly-field
      title="Import mode"
      description="Select whether you want to import files to new or existing project"
    >
      <el-select v-model="state.importMode">
        <el-option key="new" label="Create new project" value="new"></el-option>
        <el-option
          key="project"
          label="Upload to existing project"
          value="project"
        ></el-option>
        <el-option
          key="dataset"
          label="Upload to existing dataset"
          value="dataset"
        ></el-option>
      </el-select>
    </sly-field>
  </div>

  <div v-if="state.importMode === 'new' && !state.slyProjectId">
    <sly-field
      title="Result Project Name"
      description="Enter project name manually (optional) or keep empty to generate it automatically"
    >
    </sly-field>
    <el-input
      placeholder="Enter Project Name"
      v-model="state.projectName"
    ></el-input>
  </div>

  <div v-if="state.importMode === 'project' && !state.slyProjectId">
    <sly-select-project
      :workspace-id="context.workspaceId"
      :project-id.sync="state.slyProjectId"
      :options="{availableTypes: ['videos']}"
    ></sly-select-project>
  </div>

  <div v-if="state.importMode === 'dataset' && !state.slyProjectId">
    <sly-select-project
      :workspace-id="context.workspaceId"
      :project-id.sync="state.slyProjectId"
      :options="{availableTypes: ['videos']}"
    ></sly-select-project>
    <sly-select-dataset
      :project-id="state.slyProjectId"
      :datasets.sync="state.datasets"
    ></sly-select-dataset>
  </div>

  <div class="fflex align-start" v-if="!state.prefNodeId">
    <el-checkbox v-model="state.removeSource" class="mt10 mr10"></el-checkbox>
    <sly-field
      class="mt20"
      title="Remove temporary files after successful import"
      description="Removes source directory from Team Files after successful import"
    >
    </sly-field>
  </div>

  <pre>
        Context:
        {{ JSON.stringify(context, undefined, 2) }}
        State:
        {{ JSON.stringify(state, undefined, 2) }}
    </pre
  >
</div>
